body{
    margin: auto;
    padding: 50px 0;
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: center;
    background: url(background.jpg)
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-weight: 300;
    font-size: 39px;
    color: #9b9b9b;
    margin: 0 0 30px 0;
    display: flex;
    justify-content: center;
}

.genderType {
  margin: 20px;
}

.inputfield {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputfield-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inputfield-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input {
    min-width: 50px;
    font-size:30px;
    padding-left: 35px;
}

.firsttext, .secondtext {
    max-width: 300px;
    font-size: 30px;
    padding-left: 20px;
}

.gobutton, .marrige {
    width: 100%;
    font-weight: 350;
    font-size: 26px;
    color: #ffffff;
    background-color: #1678C2;
    border-left: 1px solid #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#result {
    list-style-type: none;
    padding: 0;
}

ul li {
    width: 100%;
}

ul li select {
    width: 180px;
    font-size: 30px;
}

#select > option {
    text-align: center;
}

#result > li > input {
    width: 180px;
    text-align: center;
    padding: 0;
}
